@import "../../styles/abstract/mixins";

.Project {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 8rem;

  @include respond(desktop) {
    display: block;
    padding: 0 8rem;
  }

  &__image {
    width: 40%;
    @include respond(desktop) {
      width: 100%;
    }

    &_order {
      order: 1;
    }
  }

  &__about {
    flex: 1;
    padding: 1rem;
    @include respond(desktop) {
      width: 100%;
      margin-top: 3rem;
    }
  }
}
