// * === GENERAL ===
$color-bg: #181f23;
$color-nav-bg: #040303;
$color-white: #f0f0f0;
$color-font-secondary: #f4d35e;
$color-button: #840032;

// * === NAV RAINBOW ===
// Rainbow colors
$rainbow-1-red: #ea2027;
$rainbow-2-orange: #e67e22;
$rainbow-3-yellow: #f1c40f;
$rainbow-4-green: #2ecc71;
$rainbow-5-blue: #3498db;
$rainbow-6-indigo: #7158e2;
$rainbow-7-violet: #cd84f1;

// Degrees of the rainbow
$rainbow-deg: 45deg;

// Sizes
$rainbow-width: 100%;
$rainbow-height: 150px;

// * ===SOCIAL NETWORK ===
$color-twitter: #1da1f2;
$color-instagram: #f46f30;
$color-linkedin: #007bb5;
$color-github: #24292e;

// * SIZINGS
$width-content: 124rem;
$margin-section: 4rem;

// * STYLING
$shadow-button: 0px 0px 16px 1px
  rgba(
    $color: $color-button,
    $alpha: 0.75,
  );
