@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");

.Signature {
  font-family: "Rouge Script", cursive;
  font-size: 3rem;
  display: flex;
  height: 100%;
  width: auto;
  text-align: center;
  align-items: center;
  margin-right: auto;
  transform: rotate(-5deg);
  text-decoration: underline;
  font-weight: 600;

  &__footer {
    display: inline-block;
    width: auto;
    height: auto;
  }
}
