@import "../../styles/abstract/variables";

.About {
  max-width: 124rem;
  height: 100%;
  text-align: center;
  padding: 3rem 0;

  &__content {
    width: 100%;
    color: $color-white;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 10rem;

    margin-bottom: 2rem;
    margin-top: 3rem;

    & strong {
      color: $color-font-secondary;
    }
  }
}
