.Projects {
  //   width: 100%;
  width: 124rem;
  text-align: center;
  padding: 3rem 0;

  &__content {
    margin-top: 3rem;
    padding: 3rem 3rem;
    // display: flex;
    // justify-content: center;
  }
}
