@import "../../styles/abstract/variables";

.ChronologicalLife {
  width: 20rem;
  height: 70vh;
  border: 0.3rem solid $color-button;
  position: relative;
  border-radius: 5rem;
  margin: 10rem 0;
  overflow-y: scroll;
  box-shadow: $shadow-button;

  &::after {
    content: "";
    display: block;
    width: 0.3rem;
    background-color: $color-button;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 70%;
  }
}
